@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;

}
nav{
    display: flex;
    width: 100%;
    background: slategray;
    position: relative;
    justify-content: space-between;
    text-align: center;
    padding: 15px 30px  ;
}
nav .icon{
    font-size: 35px;
    font-weight: 800;
    color: #fff;
    cursor: pointer;   
}
nav ol{
    display: flex;
    list-style-type:none;
    margin: auto 0;
}
nav ol li a{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 5px 10px;
}
nav ol li:hover a{
    background: #fff;
    color: #0a5071;

}
nav .search_box{
    display: flex;
    margin: auto 0;
    height: 35px;
    line-height: 35px;

}
nav .search_box input{
    border: none;
    outline: none;
    background: #fff;
    height: 100%;
    padding: 0 10px;
    font-size: 20px;
    width: 350px;

}
nav .search_box span{
    color: #0a5071;
    font-size: 20px;
    background: #fff;
    height: 100%;
    padding: 8px;
    position: relative;
    cursor: pointer;
    z-index: 1;

}
nav .search_box span ::after{
    color: #fff;
}
nav .search_box span ::after{
    height: 100%;
    width: 0%;
    content: '';
    background: #ff003c;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.3s;


}
nav .search_box span:hover::after{
    width: 100%;
}
nav .bar{
    position: relative;
    margin: auto;


}
nav .bar span{
    position: absolute;
    color: #fff;
    font-size: 35px;

}
input[type="checkbox"]{
    -webkit-appearance: none;
    display: none;

}
@media screen and (max-width:1250px ){
    nav{
        display: block;
        padding: 0;
    }
    nav .icon{
        display: inline-block;
        padding: 15px 30px;
    }
    nav .search_box{
        width: 100%;
        display: inline-flex;
        justify-content: center;
        margin-bottom: 15px;

    }
    nav ol{
        display: flex;
        flex-direction: column;

    }
    nav ol li  {
        text-align: center;
    }
    nav ol li a {
        color: #000;
        font-size: 28px;
        padding: 25px;
        display: block;

    }
    nav .bar{
        display: block;
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 80px;


    }
    nav .bar #times{
        display: none;
    }
    #check:checked ~ nav .bar #times{
        display: block;
    }
    #check:checked ~ nav .bar #bars{
        display: none;
    }


}
.container{
    width: 100%;
    height: 100vh;
    background: #222;
    display: flex;
    align-items: center;
    justify-content: center;
}
.swiper{
    width: 80%;
    height: fit-content;

}
.swiper-slide img{
    width: 100%;

}
.swiper .swiper-pagination-bullet-active{
    background: white;

    

}

body {
	font-family: 'Montserrat', sans-serif;
}
#team {
	padding: 30px 0;
}
.sec-heading h6 {
	font-family: 'Allura', cursive;
	font-size: 65px;
}
.single-box {
	border: 1px solid #ddd;
	border-radius: 20px;
	overflow: hidden;
	background-color: #fff
}
.info-area {
	padding: 0 20px 45px;
}
.img-area {
	overflow: hidden;
	padding: 15px 0 15px;
}
.img-area img {
	margin: 0 auto;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	max-width: 230px
}
.single-box:hover img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
.info-area i {
	display: inline-block;
	color: #ffb400;
	margin: 0 4px;
}
.info-area h4 {
	font-weight: 600
}
.info-area h5 {
	color: #3b04db;
	margin: 10px 0 0;
	font-weight: 600
}
.info-area a {
	display: inline-block;
	margin: 25px 0 0;
	background-color: darkorange;
	color: #fff;
	padding: 10px 35px;
	border-radius: 4px;
}
.team-slider .owl-dots {
	position: absolute;
	left: 0;
	right: 0;
	bottom: -60px;
	text-align: center;
	width: 100%;
}
.team-slider button.owl-dot {
	width: 16px;
	height: 16px;
	display: inline-block;
	margin: 0 6px;
	text-align: center;
	border-radius: 50%;
	background-color: #262626;
}
.team-slider .owl-dot.active {
	background-color: coral;
}
.move-animation {
	position: relative;
	-webkit-animation: move-animation 2000s ease-in-out infinite;
	animation: move-animation 2000s ease-in-out infinite;
}
@-webkit-keyframes move-animation {
	0% {
		top: 3px;
	}
	50% {
		top: -3px;
	}
	100% {
		top: 3px;
	}
}
